

body {
    padding:0;
    margin:0;
}
.container{
    background-color: rgb(34, 28, 28);
    box-shadow: 1px 2px 1px 3px rgb(107, 103, 103);
    padding: 2rem 0rem;
    display: flex;
    
    justify-content: center;
    font-size: 1.4rem;
    flex-wrap: wrap;

}

.row {
    
    padding: 2rem;
    background-color: rgb(219, 219, 219);
    box-shadow: 1px 2px 1px 3px rgb(107, 103, 103);
    margin: 1rem 1rem ;
}

.line {
    display: flex;
    justify-content: space-between;

}
span {
    padding: .3rem;
}